body {
	background-color: #D4C4FB;
}

#main_ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #95B931;
}

#main_li{
	float: left;
}

#li_a{
	display: block;
	color: black;
	text-align: center;
	padding: 16px;
	text-decoration: none;
	font-size: 36px;
}

#li_a:hover{
	background-color: #5E7324;
}

#table_1{
	 /*width:100%;*/
	 border = "1";
}
