body{
	background-color: #7DC4A1;
}

h1{
	text-align: center;
	border: 2px solid powderblue;
	padding: 10px;
	margin: 50px; /*space out side the border*/
}

#paragraph_1{
	text-align: center;
	color: green;
	font-size: 35px;
}

#paragraph_2{
	text-align: center;
	color: black;
	font-size: 50px;
	border: 2px solid red;
}

